<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Daily Heroes
            </h1>
            <h2 class="subtitle">
              Edit Your Commitment
            </h2>
        </div>
    </div>
</section>


<%= form_for @commitment do |c| %>
    <%= c.hidden_field :user_id, :value => session[:user_id] %>
    <%= c.hidden_field :pledge_id %>
    <%= c.text_area :frequency %>
    <%= submit_tag "Commit" %>
<% end %>